@charset "UTF-8";
/* CSS Document */

/*main banner*/

.banner img{
	width: 100%;
}

.banner{
	position:relative;
}

.banner .container{
	max-width:1000px;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100%;
	padding:20px;
}

.arrowl .active{
	display:none; 
}

.arrowr .inactive{
	display:none;
}

.arrowl , .arrowr{
	cursor: pointer; 
}

/*mainBody*/

.mainBody{
	max-width:1000px;
	height:auto;
	margin:0 auto;
	margin-top:48px;
	margin-bottom: 36px;
}

.mainBody h1{
	padding-bottom:36px;
}

.mainBody .contentbox{
	display: flex;
	max-width:100%;
}

.newDisplay, .sellDisplay{
	margin-top:36px;
}

.display{
	border: 3px solid #4b0b07;
	border-radius: 6px;
}

.display .hover{
	display:none;
}

.display:hover .main{
	display:none;
}

.display:hover .hover {
	display:block;
}

.item{
	padding-right:50px;
	display:flex;
}

.item a{
	text-decoration: none;
	width:100%;
	flex-wrap: wrap;
}

.item a:hover{
	text-decoration: none;
	color: #fff;
}

.price{
	height:64px;
}

.price .name{
	height:40px;
	line-height: 18px;
	margin:12px 0px;
}

.price .dis{
	display: flex;
	align-items: center;
}

.price .dis #discount{
	padding-right: 10px;
	font-size: 20px;
	color: red;
}

.dis #price{
	text-decoration: line-through;
	font-size: 14px;
}











/* Tips */

#tips.container{
	align-content: center;
	align-items: center;
}
#tips .title{
	padding:82px 0 12px 0;
	text-align: center;
}

#tips .title h1{
	padding-bottom:14px;
}


#content{
	background-color: #ccd5ae;
	padding-bottom: 85px;
	display: flex;
    align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

table{
	text-align: center;
	max-width:825px;
	height:auto;
	margin: 0 20px;
}

#content img{
	width:80%;
	margin:20px;
}

td{
	padding-bottom:18px;
	text-align: center;
	width:33.33%;
}

.contentbox a:hover{
	text-decoration: underline;
}

.close{
	display:none;
}

/*MediaQuery*/
@media(max-width:768px){
	
	.icon .menu{
		display:flex;
	}
	
	.arrowl,.arrowr{
		width:48px;	
	}
	
	.contentbox{
		margin:12px;
	}
	
	.group{
		margin:12px;
	}
	
}
